KF_WEB/Web References/IVRService/IVRService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetIVRData">
        <s:complexType />
      </s:element>
      <s:element name="GetIVRDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIVRDataResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intCallNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendIVRResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strMemo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MD5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendIVRResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendIVRResultResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIVRDataNew">
        <s:complexType />
      </s:element>
      <s:element name="GetIVRDataNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIVRDataNewResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dbName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tbName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intCallNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendIVRResultNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dbName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tbName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strMemo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MD5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendIVRResultNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendIVRResultNewResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetIVRDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetIVRData" />
  </wsdl:message>
  <wsdl:message name="GetIVRDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetIVRDataResponse" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultSoapIn">
    <wsdl:part name="parameters" element="tns:SendIVRResult" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultSoapOut">
    <wsdl:part name="parameters" element="tns:SendIVRResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetIVRDataNewSoapIn">
    <wsdl:part name="parameters" element="tns:GetIVRDataNew" />
  </wsdl:message>
  <wsdl:message name="GetIVRDataNewSoapOut">
    <wsdl:part name="parameters" element="tns:GetIVRDataNewResponse" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultNewSoapIn">
    <wsdl:part name="parameters" element="tns:SendIVRResultNew" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultNewSoapOut">
    <wsdl:part name="parameters" element="tns:SendIVRResultNewResponse" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultHttpGetIn">
    <wsdl:part name="strCheckID" type="s:string" />
    <wsdl:part name="strUserID" type="s:string" />
    <wsdl:part name="strMobile" type="s:string" />
    <wsdl:part name="intResult" type="s:string" />
    <wsdl:part name="strMemo" type="s:string" />
    <wsdl:part name="MD5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultNewHttpGetIn">
    <wsdl:part name="dbName" type="s:string" />
    <wsdl:part name="tbName" type="s:string" />
    <wsdl:part name="strCheckID" type="s:string" />
    <wsdl:part name="strUserID" type="s:string" />
    <wsdl:part name="strMobile" type="s:string" />
    <wsdl:part name="intResult" type="s:string" />
    <wsdl:part name="strMemo" type="s:string" />
    <wsdl:part name="MD5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultNewHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultHttpPostIn">
    <wsdl:part name="strCheckID" type="s:string" />
    <wsdl:part name="strUserID" type="s:string" />
    <wsdl:part name="strMobile" type="s:string" />
    <wsdl:part name="intResult" type="s:string" />
    <wsdl:part name="strMemo" type="s:string" />
    <wsdl:part name="MD5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultNewHttpPostIn">
    <wsdl:part name="dbName" type="s:string" />
    <wsdl:part name="tbName" type="s:string" />
    <wsdl:part name="strCheckID" type="s:string" />
    <wsdl:part name="strUserID" type="s:string" />
    <wsdl:part name="strMobile" type="s:string" />
    <wsdl:part name="intResult" type="s:string" />
    <wsdl:part name="strMemo" type="s:string" />
    <wsdl:part name="MD5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendIVRResultNewHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="IVRServiceSoap">
    <wsdl:operation name="GetIVRData">
      <wsdl:input message="tns:GetIVRDataSoapIn" />
      <wsdl:output message="tns:GetIVRDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendIVRResult">
      <wsdl:input message="tns:SendIVRResultSoapIn" />
      <wsdl:output message="tns:SendIVRResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIVRDataNew">
      <wsdl:input message="tns:GetIVRDataNewSoapIn" />
      <wsdl:output message="tns:GetIVRDataNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendIVRResultNew">
      <wsdl:input message="tns:SendIVRResultNewSoapIn" />
      <wsdl:output message="tns:SendIVRResultNewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IVRServiceHttpGet">
    <wsdl:operation name="SendIVRResult">
      <wsdl:input message="tns:SendIVRResultHttpGetIn" />
      <wsdl:output message="tns:SendIVRResultHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendIVRResultNew">
      <wsdl:input message="tns:SendIVRResultNewHttpGetIn" />
      <wsdl:output message="tns:SendIVRResultNewHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IVRServiceHttpPost">
    <wsdl:operation name="SendIVRResult">
      <wsdl:input message="tns:SendIVRResultHttpPostIn" />
      <wsdl:output message="tns:SendIVRResultHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendIVRResultNew">
      <wsdl:input message="tns:SendIVRResultNewHttpPostIn" />
      <wsdl:output message="tns:SendIVRResultNewHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IVRServiceSoap" type="tns:IVRServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIVRData">
      <soap:operation soapAction="http://tempuri.org/GetIVRData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendIVRResult">
      <soap:operation soapAction="http://tempuri.org/SendIVRResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIVRDataNew">
      <soap:operation soapAction="http://tempuri.org/GetIVRDataNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendIVRResultNew">
      <soap:operation soapAction="http://tempuri.org/SendIVRResultNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IVRServiceSoap12" type="tns:IVRServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIVRData">
      <soap12:operation soapAction="http://tempuri.org/GetIVRData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendIVRResult">
      <soap12:operation soapAction="http://tempuri.org/SendIVRResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIVRDataNew">
      <soap12:operation soapAction="http://tempuri.org/GetIVRDataNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendIVRResultNew">
      <soap12:operation soapAction="http://tempuri.org/SendIVRResultNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IVRServiceHttpGet" type="tns:IVRServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendIVRResult">
      <http:operation location="/SendIVRResult" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendIVRResultNew">
      <http:operation location="/SendIVRResultNew" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IVRServiceHttpPost" type="tns:IVRServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendIVRResult">
      <http:operation location="/SendIVRResult" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendIVRResultNew">
      <http:operation location="/SendIVRResultNew" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IVRService">
    <wsdl:port name="IVRServiceSoap" binding="tns:IVRServiceSoap">
      <soap:address location="http://localhost:61131/IVRService.asmx" />
    </wsdl:port>
    <wsdl:port name="IVRServiceSoap12" binding="tns:IVRServiceSoap12">
      <soap12:address location="http://localhost:61131/IVRService.asmx" />
    </wsdl:port>
    <wsdl:port name="IVRServiceHttpGet" binding="tns:IVRServiceHttpGet">
      <http:address location="http://localhost:61131/IVRService.asmx" />
    </wsdl:port>
    <wsdl:port name="IVRServiceHttpPost" binding="tns:IVRServiceHttpPost">
      <http:address location="http://localhost:61131/IVRService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>