src/KF_WEB/Web References/ZWCheck_Service/Check_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Tencent.com/OSS/C2C/Finance/Check_WebService" xmlns:s1="http://Tencent.com/OSS/C2C/Finance/Check_WebService/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Tencent.com/OSS/C2C/Finance/Check_WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Tencent.com/OSS/C2C/Finance/Check_WebService">
      <s:element name="StartCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCheckType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMemo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLevelValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myParams" type="tns:ArrayOfParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Param" type="tns:Param" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Param">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ParamName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParamValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParamFlag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StartCheckResponse">
        <s:complexType />
      </s:element>
      <s:element name="Finance_Header" type="tns:Finance_Header" />
      <s:complexType name="Finance_Header">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SzKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OperID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RightString" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="DoCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCheckMemo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iCheckResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoCheckResponse">
        <s:complexType />
      </s:element>
      <s:element name="ExecuteCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteCheckResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryExedCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryExedCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryExedCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryObjCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strObjID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryObjCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryObjCheckResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUserPageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCheckParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCheckParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCheckParamResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IDIsInCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IDIsInCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDIsInCheckResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="upFinishState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="upFinishStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="upFinishStateResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecallCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecallCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecallCheckResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmCancelCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmCancelCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmCancelCheckResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCheckLogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkTypes" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="auditor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPendingApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPendingApprovalResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckByObjId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckByObjIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCheckByObjIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLaseApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="approvalTypes" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLaseApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLaseApprovalResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartCheckNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCheckType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMemo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartCheckNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartCheckNewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoCheckNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCheckMemo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iCheckResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoCheckNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoCheckNewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckLogByType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="logType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckLogByTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCheckLogByTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValiCheckRight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCheckID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValiCheckRightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValiCheckRightResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCheckLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCheckType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCheckLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserCheckLevelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema targetNamespace="http://Tencent.com/OSS/C2C/Finance/Check_WebService/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartCheckSoapIn">
    <wsdl:part name="parameters" element="tns:StartCheck" />
  </wsdl:message>
  <wsdl:message name="StartCheckSoapOut">
    <wsdl:part name="parameters" element="tns:StartCheckResponse" />
  </wsdl:message>
  <wsdl:message name="StartCheckFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="DoCheckSoapIn">
    <wsdl:part name="parameters" element="tns:DoCheck" />
  </wsdl:message>
  <wsdl:message name="DoCheckSoapOut">
    <wsdl:part name="parameters" element="tns:DoCheckResponse" />
  </wsdl:message>
  <wsdl:message name="DoCheckFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="ExecuteCheckSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteCheck" />
  </wsdl:message>
  <wsdl:message name="ExecuteCheckSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteCheckFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="QueryExedCheckSoapIn">
    <wsdl:part name="parameters" element="tns:QueryExedCheck" />
  </wsdl:message>
  <wsdl:message name="QueryExedCheckSoapOut">
    <wsdl:part name="parameters" element="tns:QueryExedCheckResponse" />
  </wsdl:message>
  <wsdl:message name="QueryObjCheckSoapIn">
    <wsdl:part name="parameters" element="tns:QueryObjCheck" />
  </wsdl:message>
  <wsdl:message name="QueryObjCheckSoapOut">
    <wsdl:part name="parameters" element="tns:QueryObjCheckResponse" />
  </wsdl:message>
  <wsdl:message name="QueryObjCheckFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="CheckUserPageSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserPage" />
  </wsdl:message>
  <wsdl:message name="CheckUserPageSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserPageResponse" />
  </wsdl:message>
  <wsdl:message name="getCheckParamSoapIn">
    <wsdl:part name="parameters" element="tns:getCheckParam" />
  </wsdl:message>
  <wsdl:message name="getCheckParamSoapOut">
    <wsdl:part name="parameters" element="tns:getCheckParamResponse" />
  </wsdl:message>
  <wsdl:message name="IDIsInCheckSoapIn">
    <wsdl:part name="parameters" element="tns:IDIsInCheck" />
  </wsdl:message>
  <wsdl:message name="IDIsInCheckSoapOut">
    <wsdl:part name="parameters" element="tns:IDIsInCheckResponse" />
  </wsdl:message>
  <wsdl:message name="upFinishStateSoapIn">
    <wsdl:part name="parameters" element="tns:upFinishState" />
  </wsdl:message>
  <wsdl:message name="upFinishStateSoapOut">
    <wsdl:part name="parameters" element="tns:upFinishStateResponse" />
  </wsdl:message>
  <wsdl:message name="RecallCheckSoapIn">
    <wsdl:part name="parameters" element="tns:RecallCheck" />
  </wsdl:message>
  <wsdl:message name="RecallCheckSoapOut">
    <wsdl:part name="parameters" element="tns:RecallCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmCancelCheckSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmCancelCheck" />
  </wsdl:message>
  <wsdl:message name="ConfirmCancelCheckSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmCancelCheckResponse" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogSoapIn">
    <wsdl:part name="parameters" element="tns:GetCheckLog" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogSoapOut">
    <wsdl:part name="parameters" element="tns:GetCheckLogResponse" />
  </wsdl:message>
  <wsdl:message name="GetPendingApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:GetPendingApproval" />
  </wsdl:message>
  <wsdl:message name="GetPendingApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:GetPendingApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="GetCheckByObjIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCheckByObjId" />
  </wsdl:message>
  <wsdl:message name="GetCheckByObjIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCheckByObjIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetLaseApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:GetLaseApproval" />
  </wsdl:message>
  <wsdl:message name="GetLaseApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:GetLaseApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="StartCheckNewSoapIn">
    <wsdl:part name="parameters" element="tns:StartCheckNew" />
  </wsdl:message>
  <wsdl:message name="StartCheckNewSoapOut">
    <wsdl:part name="parameters" element="tns:StartCheckNewResponse" />
  </wsdl:message>
  <wsdl:message name="StartCheckNewFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="DoCheckNewSoapIn">
    <wsdl:part name="parameters" element="tns:DoCheckNew" />
  </wsdl:message>
  <wsdl:message name="DoCheckNewSoapOut">
    <wsdl:part name="parameters" element="tns:DoCheckNewResponse" />
  </wsdl:message>
  <wsdl:message name="DoCheckNewFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogByTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCheckLogByType" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogByTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCheckLogByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ValiCheckRightSoapIn">
    <wsdl:part name="parameters" element="tns:ValiCheckRight" />
  </wsdl:message>
  <wsdl:message name="ValiCheckRightSoapOut">
    <wsdl:part name="parameters" element="tns:ValiCheckRightResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserCheckLevelSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserCheckLevel" />
  </wsdl:message>
  <wsdl:message name="GetUserCheckLevelSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserCheckLevelResponse" />
  </wsdl:message>
  <wsdl:message name="DoCheckHttpGetIn">
    <wsdl:part name="strCheckID" type="s:string" />
    <wsdl:part name="strCheckMemo" type="s:string" />
    <wsdl:part name="iCheckResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DoCheckHttpGetOut" />
  <wsdl:message name="ExecuteCheckHttpGetIn">
    <wsdl:part name="strCheckID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteCheckHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="QueryExedCheckHttpGetIn">
    <wsdl:part name="strCheckID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryExedCheckHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryObjCheckHttpGetIn">
    <wsdl:part name="strObjID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryObjCheckHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CheckUserPageHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserPageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getCheckParamHttpGetIn">
    <wsdl:part name="checkID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getCheckParamHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="IDIsInCheckHttpGetIn">
    <wsdl:part name="strID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IDIsInCheckHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogHttpGetIn">
    <wsdl:part name="checkid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetPendingApprovalHttpGetIn">
    <wsdl:part name="checkTypes" type="s1:StringArray" />
    <wsdl:part name="auditor" type="s:string" />
    <wsdl:part name="filter" type="s:string" />
    <wsdl:part name="pageIndex" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPendingApprovalHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetCheckByObjIdHttpGetIn">
    <wsdl:part name="objId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCheckByObjIdHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetLaseApprovalHttpGetIn">
    <wsdl:part name="approvalTypes" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="GetLaseApprovalHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="StartCheckNewHttpGetIn">
    <wsdl:part name="strMainID" type="s:string" />
    <wsdl:part name="strCheckType" type="s:string" />
    <wsdl:part name="strMemo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StartCheckNewHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DoCheckNewHttpGetIn">
    <wsdl:part name="strCheckID" type="s:string" />
    <wsdl:part name="strCheckMemo" type="s:string" />
    <wsdl:part name="iCheckResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DoCheckNewHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogByTypeHttpGetIn">
    <wsdl:part name="strCheckID" type="s:string" />
    <wsdl:part name="logType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogByTypeHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ValiCheckRightHttpGetIn">
    <wsdl:part name="strUserID" type="s:string" />
    <wsdl:part name="strCheckID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValiCheckRightHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUserCheckLevelHttpGetIn">
    <wsdl:part name="strCheckType" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserCheckLevelHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DoCheckHttpPostIn">
    <wsdl:part name="strCheckID" type="s:string" />
    <wsdl:part name="strCheckMemo" type="s:string" />
    <wsdl:part name="iCheckResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DoCheckHttpPostOut" />
  <wsdl:message name="ExecuteCheckHttpPostIn">
    <wsdl:part name="strCheckID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteCheckHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="QueryExedCheckHttpPostIn">
    <wsdl:part name="strCheckID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryExedCheckHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryObjCheckHttpPostIn">
    <wsdl:part name="strObjID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryObjCheckHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CheckUserPageHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserPageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getCheckParamHttpPostIn">
    <wsdl:part name="checkID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getCheckParamHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="IDIsInCheckHttpPostIn">
    <wsdl:part name="strID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IDIsInCheckHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogHttpPostIn">
    <wsdl:part name="checkid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetPendingApprovalHttpPostIn">
    <wsdl:part name="checkTypes" type="s1:StringArray" />
    <wsdl:part name="auditor" type="s:string" />
    <wsdl:part name="filter" type="s:string" />
    <wsdl:part name="pageIndex" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPendingApprovalHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetCheckByObjIdHttpPostIn">
    <wsdl:part name="objId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCheckByObjIdHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetLaseApprovalHttpPostIn">
    <wsdl:part name="approvalTypes" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="GetLaseApprovalHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="StartCheckNewHttpPostIn">
    <wsdl:part name="strMainID" type="s:string" />
    <wsdl:part name="strCheckType" type="s:string" />
    <wsdl:part name="strMemo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StartCheckNewHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DoCheckNewHttpPostIn">
    <wsdl:part name="strCheckID" type="s:string" />
    <wsdl:part name="strCheckMemo" type="s:string" />
    <wsdl:part name="iCheckResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DoCheckNewHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogByTypeHttpPostIn">
    <wsdl:part name="strCheckID" type="s:string" />
    <wsdl:part name="logType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCheckLogByTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ValiCheckRightHttpPostIn">
    <wsdl:part name="strUserID" type="s:string" />
    <wsdl:part name="strCheckID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValiCheckRightHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUserCheckLevelHttpPostIn">
    <wsdl:part name="strCheckType" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserCheckLevelHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Check_ServiceSoap">
    <wsdl:operation name="StartCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提请一个审批</wsdl:documentation>
      <wsdl:input message="tns:StartCheckSoapIn" />
      <wsdl:output message="tns:StartCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">进行一个审批</wsdl:documentation>
      <wsdl:input message="tns:DoCheckSoapIn" />
      <wsdl:output message="tns:DoCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">执行审批完的动作</wsdl:documentation>
      <wsdl:input message="tns:ExecuteCheckSoapIn" />
      <wsdl:output message="tns:ExecuteCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryExedCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询相应的listID是否执行</wsdl:documentation>
      <wsdl:input message="tns:QueryExedCheckSoapIn" />
      <wsdl:output message="tns:QueryExedCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryObjCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询主体ID还有什么审批没有完成</wsdl:documentation>
      <wsdl:input message="tns:QueryObjCheckSoapIn" />
      <wsdl:output message="tns:QueryObjCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserPage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询登陆的用户具有的权限，显示不同的页面</wsdl:documentation>
      <wsdl:input message="tns:CheckUserPageSoapIn" />
      <wsdl:output message="tns:CheckUserPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCheckParam">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询审批ID对应的相关参数信息t_check_param</wsdl:documentation>
      <wsdl:input message="tns:getCheckParamSoapIn" />
      <wsdl:output message="tns:getCheckParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IDIsInCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询相应的ID是否处于审批中</wsdl:documentation>
      <wsdl:input message="tns:IDIsInCheckSoapIn" />
      <wsdl:output message="tns:IDIsInCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="upFinishState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新审批为完成状态</wsdl:documentation>
      <wsdl:input message="tns:upFinishStateSoapIn" />
      <wsdl:output message="tns:upFinishStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecallCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新审批为完成状态</wsdl:documentation>
      <wsdl:input message="tns:RecallCheckSoapIn" />
      <wsdl:output message="tns:RecallCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmCancelCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">确认撤销(主要针对那些无法无法审批或无法执行的任务单)</wsdl:documentation>
      <wsdl:input message="tns:ConfirmCancelCheckSoapIn" />
      <wsdl:output message="tns:ConfirmCancelCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckLog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">读取审批日志</wsdl:documentation>
      <wsdl:input message="tns:GetCheckLogSoapIn" />
      <wsdl:output message="tns:GetCheckLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingApproval">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定审批类型的待审批数据</wsdl:documentation>
      <wsdl:input message="tns:GetPendingApprovalSoapIn" />
      <wsdl:output message="tns:GetPendingApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckByObjId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定objid的审批数据</wsdl:documentation>
      <wsdl:input message="tns:GetCheckByObjIdSoapIn" />
      <wsdl:output message="tns:GetCheckByObjIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLaseApproval">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取最近的一条审批数据</wsdl:documentation>
      <wsdl:input message="tns:GetLaseApprovalSoapIn" />
      <wsdl:output message="tns:GetLaseApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartCheckNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提请一个审批(返回审批流编号)</wsdl:documentation>
      <wsdl:input message="tns:StartCheckNewSoapIn" />
      <wsdl:output message="tns:StartCheckNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoCheckNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">进行一次审批，返回相应审批流程是否完成</wsdl:documentation>
      <wsdl:input message="tns:DoCheckNewSoapIn" />
      <wsdl:output message="tns:DoCheckNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckLogByType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">按照类别获取审批日志</wsdl:documentation>
      <wsdl:input message="tns:GetCheckLogByTypeSoapIn" />
      <wsdl:output message="tns:GetCheckLogByTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValiCheckRight">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得当前审批人权限信息</wsdl:documentation>
      <wsdl:input message="tns:ValiCheckRightSoapIn" />
      <wsdl:output message="tns:ValiCheckRightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCheckLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户在审批类型中的审批级别</wsdl:documentation>
      <wsdl:input message="tns:GetUserCheckLevelSoapIn" />
      <wsdl:output message="tns:GetUserCheckLevelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Check_ServiceHttpGet">
    <wsdl:operation name="DoCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">进行一个审批</wsdl:documentation>
      <wsdl:input message="tns:DoCheckHttpGetIn" />
      <wsdl:output message="tns:DoCheckHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">执行审批完的动作</wsdl:documentation>
      <wsdl:input message="tns:ExecuteCheckHttpGetIn" />
      <wsdl:output message="tns:ExecuteCheckHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryExedCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询相应的listID是否执行</wsdl:documentation>
      <wsdl:input message="tns:QueryExedCheckHttpGetIn" />
      <wsdl:output message="tns:QueryExedCheckHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryObjCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询主体ID还有什么审批没有完成</wsdl:documentation>
      <wsdl:input message="tns:QueryObjCheckHttpGetIn" />
      <wsdl:output message="tns:QueryObjCheckHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserPage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询登陆的用户具有的权限，显示不同的页面</wsdl:documentation>
      <wsdl:input message="tns:CheckUserPageHttpGetIn" />
      <wsdl:output message="tns:CheckUserPageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getCheckParam">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询审批ID对应的相关参数信息t_check_param</wsdl:documentation>
      <wsdl:input message="tns:getCheckParamHttpGetIn" />
      <wsdl:output message="tns:getCheckParamHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IDIsInCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询相应的ID是否处于审批中</wsdl:documentation>
      <wsdl:input message="tns:IDIsInCheckHttpGetIn" />
      <wsdl:output message="tns:IDIsInCheckHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckLog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">读取审批日志</wsdl:documentation>
      <wsdl:input message="tns:GetCheckLogHttpGetIn" />
      <wsdl:output message="tns:GetCheckLogHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingApproval">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定审批类型的待审批数据</wsdl:documentation>
      <wsdl:input message="tns:GetPendingApprovalHttpGetIn" />
      <wsdl:output message="tns:GetPendingApprovalHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckByObjId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定objid的审批数据</wsdl:documentation>
      <wsdl:input message="tns:GetCheckByObjIdHttpGetIn" />
      <wsdl:output message="tns:GetCheckByObjIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLaseApproval">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取最近的一条审批数据</wsdl:documentation>
      <wsdl:input message="tns:GetLaseApprovalHttpGetIn" />
      <wsdl:output message="tns:GetLaseApprovalHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="StartCheckNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提请一个审批(返回审批流编号)</wsdl:documentation>
      <wsdl:input message="tns:StartCheckNewHttpGetIn" />
      <wsdl:output message="tns:StartCheckNewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DoCheckNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">进行一次审批，返回相应审批流程是否完成</wsdl:documentation>
      <wsdl:input message="tns:DoCheckNewHttpGetIn" />
      <wsdl:output message="tns:DoCheckNewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckLogByType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">按照类别获取审批日志</wsdl:documentation>
      <wsdl:input message="tns:GetCheckLogByTypeHttpGetIn" />
      <wsdl:output message="tns:GetCheckLogByTypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValiCheckRight">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得当前审批人权限信息</wsdl:documentation>
      <wsdl:input message="tns:ValiCheckRightHttpGetIn" />
      <wsdl:output message="tns:ValiCheckRightHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCheckLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户在审批类型中的审批级别</wsdl:documentation>
      <wsdl:input message="tns:GetUserCheckLevelHttpGetIn" />
      <wsdl:output message="tns:GetUserCheckLevelHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Check_ServiceHttpPost">
    <wsdl:operation name="DoCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">进行一个审批</wsdl:documentation>
      <wsdl:input message="tns:DoCheckHttpPostIn" />
      <wsdl:output message="tns:DoCheckHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">执行审批完的动作</wsdl:documentation>
      <wsdl:input message="tns:ExecuteCheckHttpPostIn" />
      <wsdl:output message="tns:ExecuteCheckHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryExedCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询相应的listID是否执行</wsdl:documentation>
      <wsdl:input message="tns:QueryExedCheckHttpPostIn" />
      <wsdl:output message="tns:QueryExedCheckHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryObjCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询主体ID还有什么审批没有完成</wsdl:documentation>
      <wsdl:input message="tns:QueryObjCheckHttpPostIn" />
      <wsdl:output message="tns:QueryObjCheckHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserPage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询登陆的用户具有的权限，显示不同的页面</wsdl:documentation>
      <wsdl:input message="tns:CheckUserPageHttpPostIn" />
      <wsdl:output message="tns:CheckUserPageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getCheckParam">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询审批ID对应的相关参数信息t_check_param</wsdl:documentation>
      <wsdl:input message="tns:getCheckParamHttpPostIn" />
      <wsdl:output message="tns:getCheckParamHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IDIsInCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询相应的ID是否处于审批中</wsdl:documentation>
      <wsdl:input message="tns:IDIsInCheckHttpPostIn" />
      <wsdl:output message="tns:IDIsInCheckHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckLog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">读取审批日志</wsdl:documentation>
      <wsdl:input message="tns:GetCheckLogHttpPostIn" />
      <wsdl:output message="tns:GetCheckLogHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingApproval">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定审批类型的待审批数据</wsdl:documentation>
      <wsdl:input message="tns:GetPendingApprovalHttpPostIn" />
      <wsdl:output message="tns:GetPendingApprovalHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckByObjId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定objid的审批数据</wsdl:documentation>
      <wsdl:input message="tns:GetCheckByObjIdHttpPostIn" />
      <wsdl:output message="tns:GetCheckByObjIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLaseApproval">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取最近的一条审批数据</wsdl:documentation>
      <wsdl:input message="tns:GetLaseApprovalHttpPostIn" />
      <wsdl:output message="tns:GetLaseApprovalHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="StartCheckNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提请一个审批(返回审批流编号)</wsdl:documentation>
      <wsdl:input message="tns:StartCheckNewHttpPostIn" />
      <wsdl:output message="tns:StartCheckNewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DoCheckNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">进行一次审批，返回相应审批流程是否完成</wsdl:documentation>
      <wsdl:input message="tns:DoCheckNewHttpPostIn" />
      <wsdl:output message="tns:DoCheckNewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckLogByType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">按照类别获取审批日志</wsdl:documentation>
      <wsdl:input message="tns:GetCheckLogByTypeHttpPostIn" />
      <wsdl:output message="tns:GetCheckLogByTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValiCheckRight">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得当前审批人权限信息</wsdl:documentation>
      <wsdl:input message="tns:ValiCheckRightHttpPostIn" />
      <wsdl:output message="tns:ValiCheckRightHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCheckLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户在审批类型中的审批级别</wsdl:documentation>
      <wsdl:input message="tns:GetUserCheckLevelHttpPostIn" />
      <wsdl:output message="tns:GetUserCheckLevelHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Check_ServiceSoap" type="tns:Check_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartCheck">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/StartCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:StartCheckFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoCheck">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/DoCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DoCheckFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCheck">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/ExecuteCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExecuteCheckFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExedCheck">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/QueryExedCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryObjCheck">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/QueryObjCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryObjCheckFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserPage">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/CheckUserPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCheckParam">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/getCheckParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IDIsInCheck">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/IDIsInCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upFinishState">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/upFinishState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecallCheck">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/RecallCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmCancelCheck">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/ConfirmCancelCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckLog">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetCheckLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingApproval">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetPendingApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckByObjId">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetCheckByObjId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLaseApproval">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetLaseApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartCheckNew">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/StartCheckNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:StartCheckNewFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoCheckNew">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/DoCheckNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DoCheckNewFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckLogByType">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetCheckLogByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValiCheckRight">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/ValiCheckRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCheckLevel">
      <soap:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetUserCheckLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Check_ServiceSoap12" type="tns:Check_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartCheck">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/StartCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:StartCheckFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoCheck">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/DoCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DoCheckFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCheck">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/ExecuteCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExecuteCheckFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExedCheck">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/QueryExedCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryObjCheck">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/QueryObjCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryObjCheckFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserPage">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/CheckUserPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCheckParam">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/getCheckParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IDIsInCheck">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/IDIsInCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upFinishState">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/upFinishState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecallCheck">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/RecallCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmCancelCheck">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/ConfirmCancelCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckLog">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetCheckLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingApproval">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetPendingApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckByObjId">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetCheckByObjId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLaseApproval">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetLaseApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartCheckNew">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/StartCheckNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:StartCheckNewFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoCheckNew">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/DoCheckNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DoCheckNewFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckLogByType">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetCheckLogByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValiCheckRight">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/ValiCheckRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCheckLevel">
      <soap12:operation soapAction="http://Tencent.com/OSS/C2C/Finance/Check_WebService/GetUserCheckLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Check_ServiceHttpGet" type="tns:Check_ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DoCheck">
      <http:operation location="/DoCheck" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCheck">
      <http:operation location="/ExecuteCheck" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExedCheck">
      <http:operation location="/QueryExedCheck" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryObjCheck">
      <http:operation location="/QueryObjCheck" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserPage">
      <http:operation location="/CheckUserPage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCheckParam">
      <http:operation location="/getCheckParam" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IDIsInCheck">
      <http:operation location="/IDIsInCheck" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckLog">
      <http:operation location="/GetCheckLog" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingApproval">
      <http:operation location="/GetPendingApproval" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckByObjId">
      <http:operation location="/GetCheckByObjId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLaseApproval">
      <http:operation location="/GetLaseApproval" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartCheckNew">
      <http:operation location="/StartCheckNew" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoCheckNew">
      <http:operation location="/DoCheckNew" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckLogByType">
      <http:operation location="/GetCheckLogByType" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValiCheckRight">
      <http:operation location="/ValiCheckRight" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCheckLevel">
      <http:operation location="/GetUserCheckLevel" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Check_ServiceHttpPost" type="tns:Check_ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DoCheck">
      <http:operation location="/DoCheck" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCheck">
      <http:operation location="/ExecuteCheck" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExedCheck">
      <http:operation location="/QueryExedCheck" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryObjCheck">
      <http:operation location="/QueryObjCheck" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserPage">
      <http:operation location="/CheckUserPage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCheckParam">
      <http:operation location="/getCheckParam" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IDIsInCheck">
      <http:operation location="/IDIsInCheck" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckLog">
      <http:operation location="/GetCheckLog" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingApproval">
      <http:operation location="/GetPendingApproval" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckByObjId">
      <http:operation location="/GetCheckByObjId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLaseApproval">
      <http:operation location="/GetLaseApproval" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartCheckNew">
      <http:operation location="/StartCheckNew" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoCheckNew">
      <http:operation location="/DoCheckNew" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckLogByType">
      <http:operation location="/GetCheckLogByType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValiCheckRight">
      <http:operation location="/ValiCheckRight" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCheckLevel">
      <http:operation location="/GetUserCheckLevel" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Check_Service">
    <wsdl:port name="Check_ServiceSoap" binding="tns:Check_ServiceSoap">
      <soap:address location="http://admin.zw.cf.com/FINANCE_SERVICE/Check_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Check_ServiceSoap12" binding="tns:Check_ServiceSoap12">
      <soap12:address location="http://admin.zw.cf.com/FINANCE_SERVICE/Check_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Check_ServiceHttpGet" binding="tns:Check_ServiceHttpGet">
      <http:address location="http://admin.zw.cf.com/FINANCE_SERVICE/Check_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Check_ServiceHttpPost" binding="tns:Check_ServiceHttpPost">
      <http:address location="http://admin.zw.cf.com/FINANCE_SERVICE/Check_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>