KF_WEB/Web References/Finance_ManageService/Finance_Manage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckOldName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qqid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOldNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckOldNameResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modifyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QQID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="changedName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cCompany" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modifyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modifyNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Finance_Header" type="tns:Finance_Header" />
      <s:complexType name="Finance_Header">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SzKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OperID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RightString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SrcUrl" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="getUserType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qqid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getUserTypeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePwdInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qqid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cleanMimao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pathUinfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDCardInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BankCardInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePwdInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changePwdInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertMediation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qqid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cleanMimao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fetchNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pathAcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pathBase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pathIDCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pathBank" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commitTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fnameNew" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FIDCardNew" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertMediationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertMediationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qqid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getAccInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bankNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUserReg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qqid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUserRegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkUserRegResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRecoverUid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recoverQQid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRecoverUidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckRecoverUidResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="freezeTrade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flstate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="freezeTradeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="freezeTradeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="returnStaticStr">
        <s:complexType />
      </s:element>
      <s:element name="returnStaticStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="returnStaticStrResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="freezeAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="freezeAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="freezeAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="freezePerAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="freezePerAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="freezePerAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FreezePerAccountWechat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FreezePerAccountWechatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FreezePerAccountWechatResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FreezePerAccountWechat_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FreezePerAccountWechat_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FreezePerAccountWechat_NewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnFreezePerAccountWechat_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnFreezePerAccountWechat_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnFreezePerAccountWechat_NewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TdeToID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tdeid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TdeToIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TdeToIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsReBatCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ar" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsReBatCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsReBatCheckResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logOnUserHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="qqid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="handid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lenth" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logOnUserHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logOnUserHistoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logOnUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qqid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logOnUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logOnUserResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryDicAccName">
        <s:complexType />
      </s:element>
      <s:element name="QueryDicAccNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryDicAccNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckOldNameSoapIn">
    <wsdl:part name="parameters" element="tns:CheckOldName" />
  </wsdl:message>
  <wsdl:message name="CheckOldNameSoapOut">
    <wsdl:part name="parameters" element="tns:CheckOldNameResponse" />
  </wsdl:message>
  <wsdl:message name="modifyNameSoapIn">
    <wsdl:part name="parameters" element="tns:modifyName" />
  </wsdl:message>
  <wsdl:message name="modifyNameSoapOut">
    <wsdl:part name="parameters" element="tns:modifyNameResponse" />
  </wsdl:message>
  <wsdl:message name="modifyNameFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="getUserTypeSoapIn">
    <wsdl:part name="parameters" element="tns:getUserType" />
  </wsdl:message>
  <wsdl:message name="getUserTypeSoapOut">
    <wsdl:part name="parameters" element="tns:getUserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="changePwdInfoSoapIn">
    <wsdl:part name="parameters" element="tns:changePwdInfo" />
  </wsdl:message>
  <wsdl:message name="changePwdInfoSoapOut">
    <wsdl:part name="parameters" element="tns:changePwdInfoResponse" />
  </wsdl:message>
  <wsdl:message name="changePwdInfoFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="insertMediationSoapIn">
    <wsdl:part name="parameters" element="tns:insertMediation" />
  </wsdl:message>
  <wsdl:message name="insertMediationSoapOut">
    <wsdl:part name="parameters" element="tns:insertMediationResponse" />
  </wsdl:message>
  <wsdl:message name="getAccInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getAccInfo" />
  </wsdl:message>
  <wsdl:message name="getAccInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getAccInfoResponse" />
  </wsdl:message>
  <wsdl:message name="checkUserRegSoapIn">
    <wsdl:part name="parameters" element="tns:checkUserReg" />
  </wsdl:message>
  <wsdl:message name="checkUserRegSoapOut">
    <wsdl:part name="parameters" element="tns:checkUserRegResponse" />
  </wsdl:message>
  <wsdl:message name="CheckRecoverUidSoapIn">
    <wsdl:part name="parameters" element="tns:CheckRecoverUid" />
  </wsdl:message>
  <wsdl:message name="CheckRecoverUidSoapOut">
    <wsdl:part name="parameters" element="tns:CheckRecoverUidResponse" />
  </wsdl:message>
  <wsdl:message name="freezeTradeSoapIn">
    <wsdl:part name="parameters" element="tns:freezeTrade" />
  </wsdl:message>
  <wsdl:message name="freezeTradeSoapOut">
    <wsdl:part name="parameters" element="tns:freezeTradeResponse" />
  </wsdl:message>
  <wsdl:message name="freezeTradeFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="returnStaticStrSoapIn">
    <wsdl:part name="parameters" element="tns:returnStaticStr" />
  </wsdl:message>
  <wsdl:message name="returnStaticStrSoapOut">
    <wsdl:part name="parameters" element="tns:returnStaticStrResponse" />
  </wsdl:message>
  <wsdl:message name="returnStaticStrFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="freezeAccountSoapIn">
    <wsdl:part name="parameters" element="tns:freezeAccount" />
  </wsdl:message>
  <wsdl:message name="freezeAccountSoapOut">
    <wsdl:part name="parameters" element="tns:freezeAccountResponse" />
  </wsdl:message>
  <wsdl:message name="freezeAccountFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="freezePerAccountSoapIn">
    <wsdl:part name="parameters" element="tns:freezePerAccount" />
  </wsdl:message>
  <wsdl:message name="freezePerAccountSoapOut">
    <wsdl:part name="parameters" element="tns:freezePerAccountResponse" />
  </wsdl:message>
  <wsdl:message name="freezePerAccountFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechatSoapIn">
    <wsdl:part name="parameters" element="tns:FreezePerAccountWechat" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechatSoapOut">
    <wsdl:part name="parameters" element="tns:FreezePerAccountWechatResponse" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechatFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechat_NewSoapIn">
    <wsdl:part name="parameters" element="tns:FreezePerAccountWechat_New" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechat_NewSoapOut">
    <wsdl:part name="parameters" element="tns:FreezePerAccountWechat_NewResponse" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechat_NewFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="UnFreezePerAccountWechat_NewSoapIn">
    <wsdl:part name="parameters" element="tns:UnFreezePerAccountWechat_New" />
  </wsdl:message>
  <wsdl:message name="UnFreezePerAccountWechat_NewSoapOut">
    <wsdl:part name="parameters" element="tns:UnFreezePerAccountWechat_NewResponse" />
  </wsdl:message>
  <wsdl:message name="UnFreezePerAccountWechat_NewFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="TdeToIDSoapIn">
    <wsdl:part name="parameters" element="tns:TdeToID" />
  </wsdl:message>
  <wsdl:message name="TdeToIDSoapOut">
    <wsdl:part name="parameters" element="tns:TdeToIDResponse" />
  </wsdl:message>
  <wsdl:message name="dsReBatCheckSoapIn">
    <wsdl:part name="parameters" element="tns:dsReBatCheck" />
  </wsdl:message>
  <wsdl:message name="dsReBatCheckSoapOut">
    <wsdl:part name="parameters" element="tns:dsReBatCheckResponse" />
  </wsdl:message>
  <wsdl:message name="logOnUserHistorySoapIn">
    <wsdl:part name="parameters" element="tns:logOnUserHistory" />
  </wsdl:message>
  <wsdl:message name="logOnUserHistorySoapOut">
    <wsdl:part name="parameters" element="tns:logOnUserHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="logOnUserHistoryFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="logOnUserSoapIn">
    <wsdl:part name="parameters" element="tns:logOnUser" />
  </wsdl:message>
  <wsdl:message name="logOnUserSoapOut">
    <wsdl:part name="parameters" element="tns:logOnUserResponse" />
  </wsdl:message>
  <wsdl:message name="logOnUserFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="QueryDicAccNameSoapIn">
    <wsdl:part name="parameters" element="tns:QueryDicAccName" />
  </wsdl:message>
  <wsdl:message name="QueryDicAccNameSoapOut">
    <wsdl:part name="parameters" element="tns:QueryDicAccNameResponse" />
  </wsdl:message>
  <wsdl:message name="QueryDicAccNameFinance_Header">
    <wsdl:part name="Finance_Header" element="tns:Finance_Header" />
  </wsdl:message>
  <wsdl:message name="modifyNameHttpGetIn">
    <wsdl:part name="QQID" type="s:string" />
    <wsdl:part name="changedName" type="s:string" />
    <wsdl:part name="cCompany" type="s:string" />
  </wsdl:message>
  <wsdl:message name="modifyNameHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="freezeTradeHttpGetIn">
    <wsdl:part name="listID" type="s:string" />
    <wsdl:part name="flstate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="freezeTradeHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="returnStaticStrHttpGetIn" />
  <wsdl:message name="returnStaticStrHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="freezeAccountHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="freezeAccountHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="freezePerAccountHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="freezePerAccountHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechatHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechatHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechat_NewHttpGetIn">
    <wsdl:part name="uin" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechat_NewHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UnFreezePerAccountWechat_NewHttpGetIn">
    <wsdl:part name="uin" type="s:string" />
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UnFreezePerAccountWechat_NewHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="TdeToIDHttpGetIn">
    <wsdl:part name="tdeid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TdeToIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="dsReBatCheckHttpGetIn">
    <wsdl:part name="ar" type="s1:StringArray" />
    <wsdl:part name="time" type="s:string" />
  </wsdl:message>
  <wsdl:message name="dsReBatCheckHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="QueryDicAccNameHttpGetIn" />
  <wsdl:message name="QueryDicAccNameHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="modifyNameHttpPostIn">
    <wsdl:part name="QQID" type="s:string" />
    <wsdl:part name="changedName" type="s:string" />
    <wsdl:part name="cCompany" type="s:string" />
  </wsdl:message>
  <wsdl:message name="modifyNameHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="freezeTradeHttpPostIn">
    <wsdl:part name="listID" type="s:string" />
    <wsdl:part name="flstate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="freezeTradeHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="returnStaticStrHttpPostIn" />
  <wsdl:message name="returnStaticStrHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="freezeAccountHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="freezeAccountHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="freezePerAccountHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="freezePerAccountHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechatHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechatHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechat_NewHttpPostIn">
    <wsdl:part name="uin" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FreezePerAccountWechat_NewHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UnFreezePerAccountWechat_NewHttpPostIn">
    <wsdl:part name="uin" type="s:string" />
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UnFreezePerAccountWechat_NewHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="TdeToIDHttpPostIn">
    <wsdl:part name="tdeid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TdeToIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="dsReBatCheckHttpPostIn">
    <wsdl:part name="ar" type="s1:StringArray" />
    <wsdl:part name="time" type="s:string" />
  </wsdl:message>
  <wsdl:message name="dsReBatCheckHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="QueryDicAccNameHttpPostIn" />
  <wsdl:message name="QueryDicAccNameHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Finance_ManageSoap">
    <wsdl:operation name="CheckOldName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证用户的QQ和姓名是否相符</wsdl:documentation>
      <wsdl:input message="tns:CheckOldNameSoapIn" />
      <wsdl:output message="tns:CheckOldNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modifyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改姓名和公司名</wsdl:documentation>
      <wsdl:input message="tns:modifyNameSoapIn" />
      <wsdl:output message="tns:modifyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回用户的帐户类型</wsdl:documentation>
      <wsdl:input message="tns:getUserTypeSoapIn" />
      <wsdl:output message="tns:getUserTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changePwdInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">密码取回</wsdl:documentation>
      <wsdl:input message="tns:changePwdInfoSoapIn" />
      <wsdl:output message="tns:changePwdInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertMediation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">插入仲裁表相关的仲裁信息</wsdl:documentation>
      <wsdl:input message="tns:insertMediationSoapIn" />
      <wsdl:output message="tns:insertMediationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAccInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据QQ号获取姓名和银行帐号</wsdl:documentation>
      <wsdl:input message="tns:getAccInfoSoapIn" />
      <wsdl:output message="tns:getAccInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkUserReg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查用户是否注册或者作废</wsdl:documentation>
      <wsdl:input message="tns:checkUserRegSoapIn" />
      <wsdl:output message="tns:checkUserRegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRecoverUid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查Uid是否存在 在userinfo中，不在t_relation中</wsdl:documentation>
      <wsdl:input message="tns:CheckRecoverUidSoapIn" />
      <wsdl:output message="tns:CheckRecoverUidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="freezeTrade">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">交易管理_交易单冻结管理</wsdl:documentation>
      <wsdl:input message="tns:freezeTradeSoapIn" />
      <wsdl:output message="tns:freezeTradeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="returnStaticStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回当前的static字段值</wsdl:documentation>
      <wsdl:input message="tns:returnStaticStrSoapIn" />
      <wsdl:output message="tns:returnStaticStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="freezeAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结账户</wsdl:documentation>
      <wsdl:input message="tns:freezeAccountSoapIn" />
      <wsdl:output message="tns:freezeAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="freezePerAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结个人账户</wsdl:documentation>
      <wsdl:input message="tns:freezePerAccountSoapIn" />
      <wsdl:output message="tns:freezePerAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结个人账户wechat</wsdl:documentation>
      <wsdl:input message="tns:FreezePerAccountWechatSoapIn" />
      <wsdl:output message="tns:FreezePerAccountWechatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结个人账户webchat_new</wsdl:documentation>
      <wsdl:input message="tns:FreezePerAccountWechat_NewSoapIn" />
      <wsdl:output message="tns:FreezePerAccountWechat_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnFreezePerAccountWechat_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">解冻个人账户webchat_new</wsdl:documentation>
      <wsdl:input message="tns:UnFreezePerAccountWechat_NewSoapIn" />
      <wsdl:output message="tns:UnFreezePerAccountWechat_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TdeToID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">付款单ID到交易单ID</wsdl:documentation>
      <wsdl:input message="tns:TdeToIDSoapIn" />
      <wsdl:output message="tns:TdeToIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dsReBatCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据交易单号获取到审批明细单</wsdl:documentation>
      <wsdl:input message="tns:dsReBatCheckSoapIn" />
      <wsdl:output message="tns:dsReBatCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logOnUserHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">销户历史查询</wsdl:documentation>
      <wsdl:input message="tns:logOnUserHistorySoapIn" />
      <wsdl:output message="tns:logOnUserHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logOnUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">销户功能</wsdl:documentation>
      <wsdl:input message="tns:logOnUserSoapIn" />
      <wsdl:output message="tns:logOnUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryDicAccName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">杂类参数登记表</wsdl:documentation>
      <wsdl:input message="tns:QueryDicAccNameSoapIn" />
      <wsdl:output message="tns:QueryDicAccNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Finance_ManageHttpGet">
    <wsdl:operation name="modifyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改姓名和公司名</wsdl:documentation>
      <wsdl:input message="tns:modifyNameHttpGetIn" />
      <wsdl:output message="tns:modifyNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="freezeTrade">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">交易管理_交易单冻结管理</wsdl:documentation>
      <wsdl:input message="tns:freezeTradeHttpGetIn" />
      <wsdl:output message="tns:freezeTradeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="returnStaticStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回当前的static字段值</wsdl:documentation>
      <wsdl:input message="tns:returnStaticStrHttpGetIn" />
      <wsdl:output message="tns:returnStaticStrHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="freezeAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结账户</wsdl:documentation>
      <wsdl:input message="tns:freezeAccountHttpGetIn" />
      <wsdl:output message="tns:freezeAccountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="freezePerAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结个人账户</wsdl:documentation>
      <wsdl:input message="tns:freezePerAccountHttpGetIn" />
      <wsdl:output message="tns:freezePerAccountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结个人账户wechat</wsdl:documentation>
      <wsdl:input message="tns:FreezePerAccountWechatHttpGetIn" />
      <wsdl:output message="tns:FreezePerAccountWechatHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结个人账户webchat_new</wsdl:documentation>
      <wsdl:input message="tns:FreezePerAccountWechat_NewHttpGetIn" />
      <wsdl:output message="tns:FreezePerAccountWechat_NewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UnFreezePerAccountWechat_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">解冻个人账户webchat_new</wsdl:documentation>
      <wsdl:input message="tns:UnFreezePerAccountWechat_NewHttpGetIn" />
      <wsdl:output message="tns:UnFreezePerAccountWechat_NewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TdeToID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">付款单ID到交易单ID</wsdl:documentation>
      <wsdl:input message="tns:TdeToIDHttpGetIn" />
      <wsdl:output message="tns:TdeToIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="dsReBatCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据交易单号获取到审批明细单</wsdl:documentation>
      <wsdl:input message="tns:dsReBatCheckHttpGetIn" />
      <wsdl:output message="tns:dsReBatCheckHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryDicAccName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">杂类参数登记表</wsdl:documentation>
      <wsdl:input message="tns:QueryDicAccNameHttpGetIn" />
      <wsdl:output message="tns:QueryDicAccNameHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Finance_ManageHttpPost">
    <wsdl:operation name="modifyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改姓名和公司名</wsdl:documentation>
      <wsdl:input message="tns:modifyNameHttpPostIn" />
      <wsdl:output message="tns:modifyNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="freezeTrade">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">交易管理_交易单冻结管理</wsdl:documentation>
      <wsdl:input message="tns:freezeTradeHttpPostIn" />
      <wsdl:output message="tns:freezeTradeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="returnStaticStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回当前的static字段值</wsdl:documentation>
      <wsdl:input message="tns:returnStaticStrHttpPostIn" />
      <wsdl:output message="tns:returnStaticStrHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="freezeAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结账户</wsdl:documentation>
      <wsdl:input message="tns:freezeAccountHttpPostIn" />
      <wsdl:output message="tns:freezeAccountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="freezePerAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结个人账户</wsdl:documentation>
      <wsdl:input message="tns:freezePerAccountHttpPostIn" />
      <wsdl:output message="tns:freezePerAccountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结个人账户wechat</wsdl:documentation>
      <wsdl:input message="tns:FreezePerAccountWechatHttpPostIn" />
      <wsdl:output message="tns:FreezePerAccountWechatHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">冻结个人账户webchat_new</wsdl:documentation>
      <wsdl:input message="tns:FreezePerAccountWechat_NewHttpPostIn" />
      <wsdl:output message="tns:FreezePerAccountWechat_NewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UnFreezePerAccountWechat_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">解冻个人账户webchat_new</wsdl:documentation>
      <wsdl:input message="tns:UnFreezePerAccountWechat_NewHttpPostIn" />
      <wsdl:output message="tns:UnFreezePerAccountWechat_NewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TdeToID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">付款单ID到交易单ID</wsdl:documentation>
      <wsdl:input message="tns:TdeToIDHttpPostIn" />
      <wsdl:output message="tns:TdeToIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="dsReBatCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据交易单号获取到审批明细单</wsdl:documentation>
      <wsdl:input message="tns:dsReBatCheckHttpPostIn" />
      <wsdl:output message="tns:dsReBatCheckHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryDicAccName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">杂类参数登记表</wsdl:documentation>
      <wsdl:input message="tns:QueryDicAccNameHttpPostIn" />
      <wsdl:output message="tns:QueryDicAccNameHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Finance_ManageSoap" type="tns:Finance_ManageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckOldName">
      <soap:operation soapAction="http://tempuri.org/CheckOldName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyName">
      <soap:operation soapAction="http://tempuri.org/modifyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:modifyNameFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserType">
      <soap:operation soapAction="http://tempuri.org/getUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePwdInfo">
      <soap:operation soapAction="http://tempuri.org/changePwdInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:changePwdInfoFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertMediation">
      <soap:operation soapAction="http://tempuri.org/insertMediation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccInfo">
      <soap:operation soapAction="http://tempuri.org/getAccInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUserReg">
      <soap:operation soapAction="http://tempuri.org/checkUserReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecoverUid">
      <soap:operation soapAction="http://tempuri.org/CheckRecoverUid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezeTrade">
      <soap:operation soapAction="http://tempuri.org/freezeTrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:freezeTradeFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnStaticStr">
      <soap:operation soapAction="http://tempuri.org/returnStaticStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:returnStaticStrFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezeAccount">
      <soap:operation soapAction="http://tempuri.org/freezeAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:freezeAccountFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezePerAccount">
      <soap:operation soapAction="http://tempuri.org/freezePerAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:freezePerAccountFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat">
      <soap:operation soapAction="http://tempuri.org/FreezePerAccountWechat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FreezePerAccountWechatFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat_New">
      <soap:operation soapAction="http://tempuri.org/FreezePerAccountWechat_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FreezePerAccountWechat_NewFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnFreezePerAccountWechat_New">
      <soap:operation soapAction="http://tempuri.org/UnFreezePerAccountWechat_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UnFreezePerAccountWechat_NewFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TdeToID">
      <soap:operation soapAction="http://tempuri.org/TdeToID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsReBatCheck">
      <soap:operation soapAction="http://tempuri.org/dsReBatCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOnUserHistory">
      <soap:operation soapAction="http://tempuri.org/logOnUserHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:logOnUserHistoryFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOnUser">
      <soap:operation soapAction="http://tempuri.org/logOnUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:logOnUserFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDicAccName">
      <soap:operation soapAction="http://tempuri.org/QueryDicAccName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryDicAccNameFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Finance_ManageSoap12" type="tns:Finance_ManageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckOldName">
      <soap12:operation soapAction="http://tempuri.org/CheckOldName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyName">
      <soap12:operation soapAction="http://tempuri.org/modifyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:modifyNameFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserType">
      <soap12:operation soapAction="http://tempuri.org/getUserType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePwdInfo">
      <soap12:operation soapAction="http://tempuri.org/changePwdInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:changePwdInfoFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertMediation">
      <soap12:operation soapAction="http://tempuri.org/insertMediation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccInfo">
      <soap12:operation soapAction="http://tempuri.org/getAccInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUserReg">
      <soap12:operation soapAction="http://tempuri.org/checkUserReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecoverUid">
      <soap12:operation soapAction="http://tempuri.org/CheckRecoverUid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezeTrade">
      <soap12:operation soapAction="http://tempuri.org/freezeTrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:freezeTradeFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnStaticStr">
      <soap12:operation soapAction="http://tempuri.org/returnStaticStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:returnStaticStrFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezeAccount">
      <soap12:operation soapAction="http://tempuri.org/freezeAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:freezeAccountFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezePerAccount">
      <soap12:operation soapAction="http://tempuri.org/freezePerAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:freezePerAccountFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat">
      <soap12:operation soapAction="http://tempuri.org/FreezePerAccountWechat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FreezePerAccountWechatFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat_New">
      <soap12:operation soapAction="http://tempuri.org/FreezePerAccountWechat_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FreezePerAccountWechat_NewFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnFreezePerAccountWechat_New">
      <soap12:operation soapAction="http://tempuri.org/UnFreezePerAccountWechat_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UnFreezePerAccountWechat_NewFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TdeToID">
      <soap12:operation soapAction="http://tempuri.org/TdeToID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsReBatCheck">
      <soap12:operation soapAction="http://tempuri.org/dsReBatCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOnUserHistory">
      <soap12:operation soapAction="http://tempuri.org/logOnUserHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:logOnUserHistoryFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOnUser">
      <soap12:operation soapAction="http://tempuri.org/logOnUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:logOnUserFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDicAccName">
      <soap12:operation soapAction="http://tempuri.org/QueryDicAccName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryDicAccNameFinance_Header" part="Finance_Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Finance_ManageHttpGet" type="tns:Finance_ManageHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="modifyName">
      <http:operation location="/modifyName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezeTrade">
      <http:operation location="/freezeTrade" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnStaticStr">
      <http:operation location="/returnStaticStr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezeAccount">
      <http:operation location="/freezeAccount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezePerAccount">
      <http:operation location="/freezePerAccount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat">
      <http:operation location="/FreezePerAccountWechat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat_New">
      <http:operation location="/FreezePerAccountWechat_New" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnFreezePerAccountWechat_New">
      <http:operation location="/UnFreezePerAccountWechat_New" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TdeToID">
      <http:operation location="/TdeToID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsReBatCheck">
      <http:operation location="/dsReBatCheck" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDicAccName">
      <http:operation location="/QueryDicAccName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Finance_ManageHttpPost" type="tns:Finance_ManageHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="modifyName">
      <http:operation location="/modifyName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezeTrade">
      <http:operation location="/freezeTrade" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnStaticStr">
      <http:operation location="/returnStaticStr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezeAccount">
      <http:operation location="/freezeAccount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="freezePerAccount">
      <http:operation location="/freezePerAccount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat">
      <http:operation location="/FreezePerAccountWechat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreezePerAccountWechat_New">
      <http:operation location="/FreezePerAccountWechat_New" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnFreezePerAccountWechat_New">
      <http:operation location="/UnFreezePerAccountWechat_New" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TdeToID">
      <http:operation location="/TdeToID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsReBatCheck">
      <http:operation location="/dsReBatCheck" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDicAccName">
      <http:operation location="/QueryDicAccName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Finance_Manage">
    <wsdl:port name="Finance_ManageSoap" binding="tns:Finance_ManageSoap">
      <soap:address location="http://localhost:61131/Finance_Manage.asmx" />
    </wsdl:port>
    <wsdl:port name="Finance_ManageSoap12" binding="tns:Finance_ManageSoap12">
      <soap12:address location="http://localhost:61131/Finance_Manage.asmx" />
    </wsdl:port>
    <wsdl:port name="Finance_ManageHttpGet" binding="tns:Finance_ManageHttpGet">
      <http:address location="http://localhost:61131/Finance_Manage.asmx" />
    </wsdl:port>
    <wsdl:port name="Finance_ManageHttpPost" binding="tns:Finance_ManageHttpPost">
      <http:address location="http://localhost:61131/Finance_Manage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>