KF_WEB/Web References/Facade/extQueryFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://facade.extquery.i18npay.tenpay.com" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://facade.extquery.i18npay.tenpay.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://facade.extquery.i18npay.tenpay.com">
      <xsd:element name="queryDetailByInvoiceID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ExtQueryResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="amount" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="chnid" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="chtype" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="complete_time" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="countrycode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="currency" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="exchange_rate" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="fee_amount" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="http_client_info" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="invoice_id" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ip_address" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ip_region" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="order_date" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="order_memo" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="order_no" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="order_title" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="paychannel" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="payer_email" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="payer_status" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="payerid" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="payment_date" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="payment_status" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="paymenttype" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="pending_reason" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="personal_info" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="reversal_reason_code" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="risk_result" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="settle_amount" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="settle_currency" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipcontent" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="tax_amount" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="transactionid" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="transactiontype" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryDetailByInvoiceIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="tns:ExtQueryResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ExtQueryConditions">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="beginDate" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="chnid" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="chtype" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="firstRecord" type="xsd:int" />
          <xsd:element minOccurs="0" name="order_no" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="recordCount" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="shipcontent" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="transactionid" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="yearMonth" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="tns:ExtQueryConditions" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfExtQueryResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ExtQueryResult" nillable="true" type="tns:ExtQueryResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="tns:ArrayOfExtQueryResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="queryDetailsResponse">
    <wsdl:part name="parameters" element="tns:queryDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="queryDetailsRequest">
    <wsdl:part name="parameters" element="tns:queryDetails" />
  </wsdl:message>
  <wsdl:message name="queryDetailByInvoiceIDResponse">
    <wsdl:part name="parameters" element="tns:queryDetailByInvoiceIDResponse" />
  </wsdl:message>
  <wsdl:message name="queryDetailByInvoiceIDRequest">
    <wsdl:part name="parameters" element="tns:queryDetailByInvoiceID" />
  </wsdl:message>
  <wsdl:portType name="ExtQueryFacadePortType">
    <wsdl:operation name="queryDetailByInvoiceID">
      <wsdl:input name="queryDetailByInvoiceIDRequest" message="tns:queryDetailByInvoiceIDRequest" />
      <wsdl:output name="queryDetailByInvoiceIDResponse" message="tns:queryDetailByInvoiceIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryDetails">
      <wsdl:input name="queryDetailsRequest" message="tns:queryDetailsRequest" />
      <wsdl:output name="queryDetailsResponse" message="tns:queryDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExtQueryFacadeHttpBinding" type="tns:ExtQueryFacadePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="queryDetailByInvoiceID">
      <soap:operation soapAction="" />
      <wsdl:input name="queryDetailByInvoiceIDRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryDetailByInvoiceIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryDetails">
      <soap:operation soapAction="" />
      <wsdl:input name="queryDetailsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExtQueryFacade">
    <wsdl:port name="ExtQueryFacadeHttpPort" binding="tns:ExtQueryFacadeHttpBinding">
      <soap:address location="http://10.2.103.111:8080/ipay-extquery/services/extQueryFacade" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>