CFT.CSOMS.DAL/Service References/SPOAServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GeneralSPOAService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IGeneralSPOAService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneralSPOAService_GetAgencyBusinessList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgencyBusinessList" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetAgencyBusinessList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgencyBusinessListResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetAgencyBusinessInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgencyBusinessInfo" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetAgencyBusinessInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgencyBusinessInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_QueryAgencyBySpid_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAgencyBySpid" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_QueryAgencyBySpid_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAgencyBySpidResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_QueryAgencyByID_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAgencyByID" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_QueryAgencyByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAgencyByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetShouFuYiList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShouFuYiList" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetShouFuYiList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShouFuYiListResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetAgencyBusinessInfoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgencyBusinessInfoList" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetAgencyBusinessInfoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgencyBusinessInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetHisBusinessList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHisBusinessList" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetHisBusinessList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHisBusinessListResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetSelfTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelfTypeList" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetSelfTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelfTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetKFList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKFList" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetKFList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKFListResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetSelfQueryListCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelfQueryListCount" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetSelfQueryListCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelfQueryListCountResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetSelfQueryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelfQueryList" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetSelfQueryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelfQueryListResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetSelfQueryInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelfQueryInfo" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetSelfQueryInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelfQueryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetSpidDomainQueryListCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpidDomainQueryListCount" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetSpidDomainQueryListCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpidDomainQueryListCountResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetOneValueAddedTax_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneValueAddedTax" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetOneValueAddedTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneValueAddedTaxResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetAllValueAddedTax_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllValueAddedTax" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetAllValueAddedTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllValueAddedTaxResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetValueAddedTaxDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValueAddedTaxDetail" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetValueAddedTaxDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValueAddedTaxDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetTradeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeType" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetTradeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetWWWAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWWWAddress" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetWWWAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWWWAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetBDName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBDName" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetBDName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBDNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetApplyValueAddedTax_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplyValueAddedTax" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_GetApplyValueAddedTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplyValueAddedTaxResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_BusinessIdentityCardNum_InputMessage">
    <wsdl:part name="parameters" element="tns:BusinessIdentityCardNum" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_BusinessIdentityCardNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusinessIdentityCardNumResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_ValueAddedTaxModify_InputMessage">
    <wsdl:part name="parameters" element="tns:ValueAddedTaxModify" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_ValueAddedTaxModify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValueAddedTaxModifyResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_ApplyRefund_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyRefund" />
  </wsdl:message>
  <wsdl:message name="IGeneralSPOAService_ApplyRefund_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyRefundResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneralSPOAService">
    <wsdl:operation name="GetAgencyBusinessList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetAgencyBusinessList" message="tns:IGeneralSPOAService_GetAgencyBusinessList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetAgencyBusinessListResponse" message="tns:IGeneralSPOAService_GetAgencyBusinessList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgencyBusinessInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetAgencyBusinessInfo" message="tns:IGeneralSPOAService_GetAgencyBusinessInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetAgencyBusinessInfoResponse" message="tns:IGeneralSPOAService_GetAgencyBusinessInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAgencyBySpid">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/QueryAgencyBySpid" message="tns:IGeneralSPOAService_QueryAgencyBySpid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/QueryAgencyBySpidResponse" message="tns:IGeneralSPOAService_QueryAgencyBySpid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAgencyByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/QueryAgencyByID" message="tns:IGeneralSPOAService_QueryAgencyByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/QueryAgencyByIDResponse" message="tns:IGeneralSPOAService_QueryAgencyByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShouFuYiList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetShouFuYiList" message="tns:IGeneralSPOAService_GetShouFuYiList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetShouFuYiListResponse" message="tns:IGeneralSPOAService_GetShouFuYiList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgencyBusinessInfoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetAgencyBusinessInfoList" message="tns:IGeneralSPOAService_GetAgencyBusinessInfoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetAgencyBusinessInfoListResponse" message="tns:IGeneralSPOAService_GetAgencyBusinessInfoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHisBusinessList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetHisBusinessList" message="tns:IGeneralSPOAService_GetHisBusinessList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetHisBusinessListResponse" message="tns:IGeneralSPOAService_GetHisBusinessList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelfTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetSelfTypeList" message="tns:IGeneralSPOAService_GetSelfTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetSelfTypeListResponse" message="tns:IGeneralSPOAService_GetSelfTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKFList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetKFList" message="tns:IGeneralSPOAService_GetKFList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetKFListResponse" message="tns:IGeneralSPOAService_GetKFList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelfQueryListCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetSelfQueryListCount" message="tns:IGeneralSPOAService_GetSelfQueryListCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetSelfQueryListCountResponse" message="tns:IGeneralSPOAService_GetSelfQueryListCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelfQueryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetSelfQueryList" message="tns:IGeneralSPOAService_GetSelfQueryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetSelfQueryListResponse" message="tns:IGeneralSPOAService_GetSelfQueryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelfQueryInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetSelfQueryInfo" message="tns:IGeneralSPOAService_GetSelfQueryInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetSelfQueryInfoResponse" message="tns:IGeneralSPOAService_GetSelfQueryInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpidDomainQueryListCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetSpidDomainQueryListCount" message="tns:IGeneralSPOAService_GetSpidDomainQueryListCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetSpidDomainQueryListCountResponse" message="tns:IGeneralSPOAService_GetSpidDomainQueryListCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneValueAddedTax">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetOneValueAddedTax" message="tns:IGeneralSPOAService_GetOneValueAddedTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetOneValueAddedTaxResponse" message="tns:IGeneralSPOAService_GetOneValueAddedTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllValueAddedTax">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetAllValueAddedTax" message="tns:IGeneralSPOAService_GetAllValueAddedTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetAllValueAddedTaxResponse" message="tns:IGeneralSPOAService_GetAllValueAddedTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValueAddedTaxDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetValueAddedTaxDetail" message="tns:IGeneralSPOAService_GetValueAddedTaxDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetValueAddedTaxDetailResponse" message="tns:IGeneralSPOAService_GetValueAddedTaxDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetTradeType" message="tns:IGeneralSPOAService_GetTradeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetTradeTypeResponse" message="tns:IGeneralSPOAService_GetTradeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWWWAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetWWWAddress" message="tns:IGeneralSPOAService_GetWWWAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetWWWAddressResponse" message="tns:IGeneralSPOAService_GetWWWAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBDName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetBDName" message="tns:IGeneralSPOAService_GetBDName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetBDNameResponse" message="tns:IGeneralSPOAService_GetBDName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplyValueAddedTax">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetApplyValueAddedTax" message="tns:IGeneralSPOAService_GetApplyValueAddedTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/GetApplyValueAddedTaxResponse" message="tns:IGeneralSPOAService_GetApplyValueAddedTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BusinessIdentityCardNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/BusinessIdentityCardNum" message="tns:IGeneralSPOAService_BusinessIdentityCardNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/BusinessIdentityCardNumResponse" message="tns:IGeneralSPOAService_BusinessIdentityCardNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValueAddedTaxModify">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/ValueAddedTaxModify" message="tns:IGeneralSPOAService_ValueAddedTaxModify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/ValueAddedTaxModifyResponse" message="tns:IGeneralSPOAService_ValueAddedTaxModify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyRefund">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralSPOAService/ApplyRefund" message="tns:IGeneralSPOAService_ApplyRefund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralSPOAService/ApplyRefundResponse" message="tns:IGeneralSPOAService_ApplyRefund_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IGeneralSPOAService" type="tns:IGeneralSPOAService">
    <wsp:PolicyReference URI="#WSHttpBinding_IGeneralSPOAService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgencyBusinessList">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetAgencyBusinessList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgencyBusinessInfo">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetAgencyBusinessInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAgencyBySpid">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/QueryAgencyBySpid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAgencyByID">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/QueryAgencyByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShouFuYiList">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetShouFuYiList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgencyBusinessInfoList">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetAgencyBusinessInfoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHisBusinessList">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetHisBusinessList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelfTypeList">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetSelfTypeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKFList">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetKFList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelfQueryListCount">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetSelfQueryListCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelfQueryList">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetSelfQueryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelfQueryInfo">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetSelfQueryInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpidDomainQueryListCount">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetSpidDomainQueryListCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneValueAddedTax">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetOneValueAddedTax" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllValueAddedTax">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetAllValueAddedTax" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValueAddedTaxDetail">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetValueAddedTaxDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTradeType">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetTradeType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWWWAddress">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetWWWAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBDName">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetBDName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplyValueAddedTax">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/GetApplyValueAddedTax" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusinessIdentityCardNum">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/BusinessIdentityCardNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValueAddedTaxModify">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/ValueAddedTaxModify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyRefund">
      <soap12:operation soapAction="http://tempuri.org/IGeneralSPOAService/ApplyRefund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneralSPOAService">
    <wsdl:port name="WSHttpBinding_IGeneralSPOAService" binding="tns:WSHttpBinding_IGeneralSPOAService">
      <soap12:address location="http://pay_38_143:50000/GeneralSPOAService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://pay_38_143:50000/GeneralSPOAService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>